---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <head>
  <meta charset="UTF-8">
  <meta name="description" content="Postdoctoral Researcher at RWTH Aachen University specializing in AI-aided beam management for 6G networks.">
  <meta name="keywords" content="Arish Sateesan, Arish Satheesan, AI, Beam Management, 6G Networks, FPGA, Network Security">
  <meta name="author" content="Arish Sateesan">
  <!-- Existing head content -->
</head>

<body>
  
<!-- <img src='/images/research_image.png' width='600px' class="center"> -->
<img src="/images/research_image.png" style="max-width:100%;height:auto;">
<h2 style="text-align:center;"> Ongoing</h2>
<h3>Real-time environmental awareness using FPGA-based machine learning and sensor fusion  in beyond-5G millimeter wave networks (Project: 6GEM; Funded by BMBF)</h3>
  <p style="font-size:100%;font-family:Times New Roman;text-align:justify;">
    This research concentrates on developing AI-aided environment awareness for next-gen wireless communication networks employing multimodal sensor fusion. The main goal is to implement resilient 6G beam management algorithms on FPGA targeting mobile edge platforms.
  </p>
<h3>FPGA design for Network Security (Project: ESCALATE; Funded by FWO and SNSF))</h3>
<p style="font-size:100%;font-family:Times New Roman;text-align:justify;">
This work concentrates on the acceleration of large flow detection algorithms on FPGAs. An algorithm-architecture co-design approach is followed to develop novel algorithms and implementations for detecting data flows that only exceed the allowed bandwidth to a limited extent. Probabilistic data structures and approximate computing are employed to develop hardware-efficient architectures for large flow detection targeting Terabit Ethernet. The goal is to integrate the configurable hardware in network devices and demonstrate efficient and effective protection against large flow network attacks in high-speed networks.
</p>
<h2 style="text-align:center;"> Past </h2>
<h3>Project: Automatic Design Synthesis and Optimization of Machine Learning Algorithms on Resource-constrained Devices(Funded by MOE Singapore) </h3>
<p style="font-size:100%;font-family:Times New Roman;text-align:justify;">
The main aim of this project was to Optimize deep learning algorithms, especially vision-based neural networks, both on algorithmic and hardware level and develop an automated tool for hardware-efficient implementation on FPGAs using Python and Verilog.
</p>

<h2>Research Interests</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">FPGA-based system design</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Network security</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Hardware security</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Probabilistic data structures</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Approximate computing</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Deep Neural Networks on resource-constrained devices</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">mmWave networks</li>
</p>
<!-- {% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
                                                                          
  </body>
  </html>
                                                                          
