---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  
<!-- <img src='/images/research_image.png' width='600px' class="center"> -->
<img src="/images/research_image.png" style="max-width:100%;height:auto;">
<h2 style="text-align:center;"> Ongoing</h2>
<h3>FPGA design for Network Security</h3>
<p style="font-size:100%;font-family:Times New Roman;text-align:justify;">
This work concentrates on the acceleration of large flow detection algorithms on FPGAs. 
An algorithm-architecture co-design approach is followed to develop novel algorithms and implementations for detecting data flows that only exceed the allowed bandwidth to a limited extent. Probabilistic data structures and approximate computing are employed to develop hardware-efficient architectures for large flow detection targeting Terabit Ethernet. The goal is to integrate the configurable hardware in network devices and demonstrate efficient and effective protection against large flow network attacks in high-speed networks.
</p>
<h2 style="text-align:center;"> Past </h2>
<h3>Optimization of Machine Learning Algorithms on Resource Constrained devices</h3>
<p style="font-size:100%;font-family:Times New Roman;text-align:justify;">
The main aim of this project was to Optimize deep learning algorithms, especially vision-based neural networks, both on algorithmic and hardware level and develop an automated tool for hardware-efficient implementation on FPGAs using Python and Verilog.
</p>

<h2>Research Interests</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Network security</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Hardware security</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">FPGA based system design</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Probabilistic Architectures</li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">Convolutional Neural Networks on resource-constrained devices</li>
</p>
<!-- {% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
                                                                          
  </body>
  </html>
                                                                          
