---
layout: archive
title: "Furthermore"
permalink: /talks/
author_profile: true
---

<h2>Honours & Achievements</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">DAC Young Fellow 2021</li>
</p>

<h2>Workshops & Tutorials conducted</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> </li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> </li>
</p>

<h2>Conference presentations</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> </li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> </li>
</p>

<h2>Blog posts</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> </li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> <a href="https://arishs.medium.com/analyze-your-hash-functions-the-avalanche-metrics-calculation-767b7445ee6f" target="_blank">Analyze your hash functions: The Avalanche Metrics Calculation</a></li>
</p>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
