---
layout: archive
title: "Furthermore"
permalink: /talks/
author_profile: true
---

<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<h2>Honours</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">DAC Young Fellow 2021</li>
</p>

<h2>Workshops & Tutorials conducted</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:left;">"Hands-on Introductory Tutorial on Network Intrusion Detection", Nele Mentens, Jo Vliegen, Laurens Le Jeune and Arish Sateesan, at Summer School on real-world crypto and privacy, 2021, Šibenik, Croatia. </li>
<li style="font-size:100%;font-family:Times New Roman;text-align:left;">"Hands-on Introductory Tutorial on Network Intrusion Detection", Nele Mentens, Jo Vliegen, Laurens Le Jeune and Arish Sateesan, at International Conference on Security, Privacy and Applied Cryptographic Engineering (SPACE), 2021, IIT Kharagpur, Kolkata, India.</li>
</p>

<h2>Conference presentations</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;">"Novel Non-cryptographic Hash Functions for Networking and Security Applications on FPGA", 24th Euromicro Conference on Digital System Design (DSD), 2021, Palermo, Italy.</li>
</p>
<p>
  <li style="font-size:100%;font-family:Times New Roman;text-align:justify;">"Speed Records in Network Flow Measurement on FPGA", 31st International Conference on Field-Programmable Logic and Applications (FPL), 2021, Dresden, Germany.</li>
</p>
<p>
  <li style="font-size:100%;font-family:Times New Roman;text-align:justify;">"DASH: Design Automation for Synthesis and Hardware Generation for CNN", 19th International Conference on Field-Programmable Technology (ICFPT), 2020, Maui, HI, USA.</li>
</p>
<p>
  <li style="font-size:100%;font-family:Times New Roman;text-align:justify;">"Novel Bloom filter algorithms and architectures for ultra-high-speed network security applications", 23rd Euromicro conference on Digital System Design (DSD), 2020, Kranj, Slovenia. </li>
</p>

<h2>Blog posts</h2>
<p>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> <a href="https://arishs.medium.com/analyze-your-hash-functions-the-avalanche-metrics-calculation-767b7445ee6f" target="_blank">Analyze your hash functions: The Avalanche Metrics Calculation</a></li>
<li style="font-size:100%;font-family:Times New Roman;text-align:justify;"> <a href="https://arishs.medium.com/what-is-approximate-counting-can-approximate-counting-be-efficient-on-hardware-33d0fd7e1125" target="_blank">What is Approximate Counting? Can approximate counting be efficient on hardware?</a></li>
</p>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
  
  </body>
  </html>
